VITE_SUPABASE_URL=https://lbnfofyzvsobnmtrairn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxibmZvZnl6dnNvYm5tdHJhaXJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyMTEwMzcsImV4cCI6MjA1OTc4NzAzN30.RGKJASAVNd4uDg3UxQt5c3uVLcyziZnHScEzMDnVwIk